    /* second-section */
    
    .box-one {
        background: rgb(90, 90, 87);
        width: 50%;
    }
    
    .box-two {
        background: rgba(89, 165, 12, 0.664);
        width: 50%;
    }
    
    .under-box {
        background: whitesmoke;
        height: 80px;
        width: 120px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* third-section */
    
    .bg-section {
        background: rgb(220, 157, 20);
        padding-top: 140px;
        padding-bottom: 40px;
    }
    
    .small-bg {
        height: 70px;
        width: 60%;
        background: rgb(42, 156, 156);
        float: right;
        margin-top: 40px;
    }
    
    .core-bg {
        height: 80px;
        width: 100px;
        background: #000;
        margin-left: 400px;
        margin-top: 70px;
    }
    /* fourth-section */
    
    .box-first {
        background: rgb(90, 90, 87);
        width: 50%;
    }
    
    .box-second {
        background: rgb(90, 90, 87);
        width: 50%;
    }
    
    .container-left {
        width: 70%;
        background: rgba(89, 165, 12, 0.664);
    }
    
    .container-right {
        width: 30%;
        background: rgba(89, 165, 12, 0.664);
    }
    /* fifth-section */
    
    .footer {
        background: cyan;
        width: 100%;
        height: 50px;
        margin-top: 120px;
    }
    
    .footer-box {
        background: darkcyan;
        height: 50px;
        width: 50%;
        margin: auto;
    }
    
    .footer-small {
        background: white;
        height: 30px;
        width: 80px;
        margin: auto;
    }